.container {
  width: 90vw;
  height: 100vh;
  margin: auto;

  &::before {
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;

    background-image: url("/bg-image.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    
    opacity: 0.8;
  }
}

.header {
  height: 30rem;
  margin-top: 1rem;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;

  .headerInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1, h2 {
      margin-left: 3rem;
    }

    h1 {
      font-weight: bold;
      line-height: 2.5rem;
    }

    .boxContact {
      margin-top: 2rem;
      
      width: 100%;
      
      border: 1px solid var(--purple-500);
      border-radius: 5px;
      
      position: relative;

      h3 {
        position: absolute;
        background: var(--purple-500);
        color: var(--white);
        padding: 5px 15px;
        top: 0;
        margin-top: -20px;
        margin-left: 3rem;
      }

      .iconsContact {
        margin-top: 2rem;
        margin-left: 3rem;

        a {
          margin-right: 1rem;
        }
      }

      p {
        margin: 0 0 0.5rem 3rem;
        font-size: 1.1rem;
      }
    }
  }
}

.aboutMe {
  position: relative;
  width: auto;
  height: auto;

  background: var(--white);
  padding: 1.5rem 2rem;
  border-radius: 5px;

  box-shadow: 5px 5px 5px 2px var(--gray-100);

  color: var(--gray-900);

  p {
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  p:last-child {
    padding-bottom: 0;
  }
}

.githubRepos {
  width: auto;
  height: auto;

  .githubStatus {
    padding: 1.5rem 0 1rem 1rem;
  }

  .reposList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .repo {
      background: var(--white);
      padding: 1rem;
      border-radius: 5px;
      border: 0.5px solid var(--gray-100);

      &:hover {
      box-shadow: 5px 5px 5px 2px var(--gray-100);
      }

      a {
        color: var(--gray-1000);
        text-decoration: none;
      }
    }
  }
}

.footer {
  margin-top: 3rem;
  border-top: 1px solid var(--gray-200);

  .infoLink {
    margin-top: 1.5rem;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: var(--gray-900);
    }
  }
}